<!DOCTYPE html>
<html>
<head>
    <title>Data Polling</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        * {
          box-sizing: border-box;
        }
        
        /* Create two equal columns that floats next to each other */
        .column {
          float: left;
          width: 50%;
          padding: 10px;
          height: 300px; /* Should be removed. Only for demonstration */
        }
        
        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
    </style>
    <script>

        $(document).ready(function() {
            function getCookie(name) {
              var cookieValue = null;
              if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                  var cookie = cookies[i].trim();
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                  }
                }
              }
              return cookieValue;
            }

            function pollData() {
                $.get('/latest-data/', function(data) {
                    var info = data.data;
                    if (info != false) {
                        $("#transcript").prepend("<p>" + info + "</p>")
                    }
                    // $('#data').text(data.latest_data);
                    setTimeout(pollData, 1000);  // Poll every 5 seconds
                });
            }

            function pollSummary() {
                $.get('/latest-summary/', function(data) {
                    var info = data.data;
                    if (info != false) {
                        $("#summary").prepend("<p>" + info + "</p>")
                    }
                    // $('#data').text(data.latest_data);
                    setTimeout(pollSummary, 1000);  // Poll every 5 seconds
                });
            }

            $("#prompt").click(function() {
                var postData = {
                  input: $("#prompt-input").val()
                }; 
                var csrfToken = getCookie('csrftoken');
                $.ajax({
                  type: "POST",
                  url: "/post-prompt/",
                  data: postData,
                  beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrfToken);
                  },
                  success: function(response) {
                    console.log(response);
                    $("#summary").prepend("<p style='color: red;'> Prompt is: " + response.data + "</p>")
                    // Perform additional actions or logic
                  },
                  error: function(xhr, status, error) {
                    console.log(xhr.responseText);
                    // Handle error
                  }
                });

          });
            pollData();
            pollSummary();
        });
    </script>
</head>
<body>
    <h1>Data Polling</h1>
    <input type="text" id="prompt-input">
    <input id="prompt" type="button" value="Submit">
    <div class="row">
        <div class="column">
            <h4> Transcript </h4>
            <div id="transcript">
            </div>
        </div>
        <div class="column">
            <h4> GPT Prompts </h4>
            <div id="summary">
            </div>
        </div>

    </div>
</body>
</html>
